*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}



.Header
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
}